
.first-letter::first-letter {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first-line::first-line {
    color: red;
}

.first-line::first-letter {
    color:blue;
    font-size: 50px;
}

ul li::marker {
    color: green;
    font-size: 50px;
}

.um::before {
    content: "";
    background: url(/02-pseudo-elementos/assets/img/logo.png) no-repeat center center;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: solid blue 5px; 
}

.dois::after {
    content: url(/02-pseudo-elementos/assets/img/logo.png);
}


